<table class="table table-condensed table-bordered">
  <tr>
    <th>云服务商</th>
    <td>{{agent.name}}</td>
  </tr>
  <tr>
    <th>所在地</th>
    <td>{{agent.location}}</td>
  </tr>
  <tr>
    <th>官方网站</th>
    <td>{{agent.official_site}}</td>
  </tr>
  <tr>
    <th>本周当机数</th>
    <td>{{agent.crash_in_week}}</td>
  </tr>
  <tr>
    <th>本月当机数</th>
    <td>{{agent.crash_in_month}}</td>
  </tr>
  <tr>
    <th>本周平均时延</th>
    <td>{{agent.latency_in_week}}(ms)</td>
  </tr>
  <tr>
    <th>本月平均时延</th>
    <td>{{agent.latency_in_month}}(ms)</td>
  </tr>
</table>

<!--<ul>-->
  <!--<li>本周当机数 - {{agent.crash_in_week}}</li>-->
  <!--<li>本月当机数 - {{agent.crash_in_month}}</li>-->
  <!--<li>官方网站 - <a href="{{agent.official_site}}">{{agent.official_site}}</a></li>-->
<!--</ul>-->
