<div class='panel panel-default'>
  <div class="panel-body">
    <i class="fa fa-eye"></i>
    <select id="viewpoint" name="viewpoint">
      {{#each agents}}
      <option value="{{this.id}}">{{this.provider}}</option> 
      {{/each}}
    </select>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      {{#each agents}}
      <li class="list-group-item list-group-item-success text-center" value="{{this.id}}" data-enabled='true' data-agent-id={{this.id}}>
        <i class="fa fa-check"></i>
        <i class="fa fa-square" style="color: {{this.color}}" data-color="{{this.color}}"></i>
        <small>{{this.id}}.{{this.provider}} -</small>
      </li>
      {{/each}}
    </ul>
  </div>
</div>


